<section>
    <div class="container p-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">SI.No</th>
                    <th scope="col">Staff Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Leave Type</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each leavereq}}
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td>{{this.staff.name}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.type}}</td>
                    <td>{{this.reason}}</td>
                    <td>
                        <select id="getleave" class="form-select" aria-label="Default select example">
                            <option selected>Choose...</option>
                            <option value='2/{{this.staff._id}}' >Grant</option>
                            <option value='3/{{this.staff._id}}' >Reject</option>
                        </select>
                    </td> 
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
<script>
    $(function () {
        $("#getleave").change(function(){
            var staffId = $(this).val();
            var array = staffId.split("/",2);
            selectStaff(array)
        })
   })
   function selectStaff(staffId){
    var id = staffId
        $.ajax({
            url:'/admin/leavevalid',
            data:{
                value:id[0],
                staffId:id[1]
            },
            method:"POST",
            success:((response)=>{
                if(response.grant){
                    alert("Leave granted");
                    location.reload();
                }else{
                    alert("Leave reject");
                    location.reload()
                }
            })
        })
   }
</script>