<section>
    <div class="container p-2">
    <div class="col-md-3">
        <a href="/admin/addstaff" class="btn btn-success">Add User</a>
        </div>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">SI.No</th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Check In</th>
      <th scope="col">Check Out</th>
      <th scope="col">Current Status</th>
      <th scope="col">Leave request</th>
      <th scope="col">Leave request</th>
    </tr>
  </thead>
  <tbody>
    {{#each staff}}
    <tr>
      <th scope="row">{{inc @index}}</th>
      <td>{{this.name}}</td>
      <td>{{this.checkin_date}}</td>
      <td>{{this.checkin_time}}</td>
      <td>{{this.checkout_time}}</td>
      <td>{{this.checkin}}</td>
      <td>{{this.leave}}</td>
      <td><a class="btn btn-primary" target="_blank" href="https://google.com/maps/search/{{this.latitude}},{{this.longitude}}">Last Location</a></td>
      <td><a class="btn btn-danger" target="_blank" href="/admin/editstaff/{{this._id}}">Edit Staff</a></td>
      <td><a class="btn btn-success" href="/admin/performance/{{this._id}}">Fetch Performace</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
</section>