<section>
    <div class="container p-2">
    <div class="col-md-3">
        <a href="/admin/addstaff" class="btn btn-success">Add User</a>
        </div>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">SI.No</th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Check In</th>
      <th scope="col">Check Out</th>
      <th scope="col">Current Status</th>
      <th scope="col">Leave request</th>
    </tr>
  </thead>
  <tbody>
    {{#each staff}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.name}}</td>
      <td>{{this.checkin_date}}</td>
      <td>{{this.checkin_time}}</td>
      <td>{{this.checkout_time}}</td>
      <td>{{this.checkin}}</td>
      <td><a type="button" href="/admin/leave" class="btn btn-warning">{{this.leave}}</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
</section>