<section>
    <div class="container p-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">SI.No</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Status</th>
                    <th scope="col">Assigned Staff</th>
                </tr>
            </thead>
            <tbody>
                {{#each workdata}}
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td>{{this.complaint_topic}}</td>
                    <td>{{this.phone}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this.staff.name}}</td>
                
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>