<section>
    <div class="container p-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">SI.No</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Check In</th>
                    <th scope="col">Check Out</th>
                    <th scope="col">Work Assign</th>
                </tr>
            </thead>
            <tbody>
                {{#each works}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.complaint_topic}}</td>
                    <td>{{this.complaint_brief}}</td>
                    <td>{{this.createdAt}}</td>
                    
                    <td>
                        <select id="selstaff" class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            {{#each ../availStaff}}
                            <option value='{{this._id}}/{{../this._id}}' >{{this.name}}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
<script>
   $(function () {
        $("#selstaff").change(function(){
            var staffId = $(this).val();
            var array = staffId.split("/",2);
            selectStaff(array)
        })
   })
   function selectStaff(staffId){
    var id = staffId
        $.ajax({
            url:'/admin/assign',
            data:{
                staffId:id[0],
                complaintId:id[1]
            },
            method:"POST",
            success:((response)=>{
                if(response.assign){
                    alert("assigned");
                    location.reload();
                }else{
                    alert("failed");
                }
                
                
            })
        })
   }
</script>