<!-- Header-->
{{#if user}}
<header class="bg-primary py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">We Are Here To Solve</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Do you face any issue in your gadgets We are here to
                        Solve.
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
                    src="/images/cimage.png" alt="..." /></div>
        </div>
        {{#if work}}
        <div class="col-md-10">
            <div class="rounded">
                <div class="table-responsive table-borderless">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>#No</th>
                                <th>Issue</th>
                                <th>created</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            {{#each currentStatus}}
                            <tr class="cell-1">
                                <td>{{inc @index}}</td>
                                <td>{{this.complaint_topic}}</td>
                                <td>{{this.createdAt}}</td>
                                <td><span class="badge {{this.badge}}">{{this.status}}</span></td>
                                <td><i class="fa fa-ellipsis-h text-black-50"></i></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</header>
{{else}}
<header class="bg-primary py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">We Are Here To Solve</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Do you face any issue in your gadgets We are here to
                        Solve.
                        Signup and Raise a complaint our employ will come on your door step.
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/signup">Signup</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="/login">Login</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
                    src="/images/cimage.png" alt="..." /></div>
        </div>
    </div>
</header>
{{/if}}
<!-- Features section-->
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h2 class="fw-bolder mb-0">How we are different form other ?</h2>
            </div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-collection"></i></div>
                        <h2 class="h5">Our Work Culture</h2>
                        <p class="mb-0">We have virtual office and the employ not need to come to
                            office every day.
                        </p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-building"></i></div>
                        <h2 class="h5">How to track staff ?</h2>
                        <p class="mb-0">Our team provides a staff portal to provide the needed
                            facility with staff and our attendance is based on the Geolocation
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog preview section-->
<section class="py-5">
        <!-- Call to action-->
        <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
            <div
                class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                <div class="mb-4 mb-xl-0">
                    <div class="fs-3 fw-bold text-white">We are here to solve.</div>
                    <div class="text-white-50">Sign up and raise the complaint</div>
                </div>
                <div class="ms-xl-4">
                    <div class="input-group mb-2">
                        <a class="btn btn-outline-light" href="/signup">Signup</a>
                    </div>
                    <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                </div>
            </div>
        </aside>
    </div>
</section>