<section>
    <div class="container p-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">SI.No</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Issue Raised Time</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each currentStatus}}
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td>{{this.complaint_topic}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>{{this.phone}}</td>
                    <td><span class="badge {{this.badge}}">{{this.status}}</span></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>